@media screen and (min-width: 376px) {

    .hero-wave::before{
        content:'';
        position: absolute;
        background-image: url(images/bg-curvy-desktop.svg);
        
        width: 100%;
        background-repeat: no-repeat;
    }
    
}

@media screen and (min-width: 564px) {
    .hero-title{
        line-height: 1.5;
        font-size: 30px;
        justify-self: center;
        max-width: 705px;
        padding: 0 60px;
    }
    .hero-paragraph{
        line-height: 1.5;
        font-size: 18px;
        justify-self: center;
        max-width: 605px;
        padding: 0 22px;
    }
    .hero-cta{
        width: 300px;
    }

    .container-text{
        max-width: 500px;
    }

    .hero-wave{
        height: 20%;
        width: 100%;
    }

    .hero-wave::before{
        background-image: url(images/bg-curvy-desktop.svg);
        top: -160px;
    }

    .about{
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
        margin-top: 100px;
    }
    .about-item{
        justify-self: center;
    }

    .productive-img{
        width: 100%;
    }

    .join-title{
        font-size: 28px;
        margin-top: 5px;
    }

    .join-p{
        line-height: 1.5;
    }
    
    .form{
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .input{
        height: 48px;
        margin: 0;
        padding: 0 25px;
       
    }

    .email{
        max-width: 450px;
    }

    .submit{
        max-width: 220px; 
    }
}

@media screen and (min-width: 940px){

    .quotes{
        width: 50px;
        height: 40px;
        z-index: -1;
        top: -30px;
        left: -7px;
      }

    .footer-container{
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content:space-evenly;
        padding-bottom: 50px;
    }

    .logo-footer-fig{
        margin-left: 60px;
        width: 120px;
    }

    .logo-footer{
        width: 100%;
    }

    .lorem{
        max-width: 300px;
    }
    .phone-email{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .nav-footer{
        margin: 0;
        gap:5px;
    }
    .icon-container{
        margin-top: 5px;
    }
}


@media screen and (min-width: 944px){
    .hero-wave{
        height: 30%;
        width: 100%;
    }

    .hero-wave::before{
        background-image: url(images/bg-curvy-desktop.svg);
        top: -240px;
    }

    .productive{
        flex-direction: row;
        max-width: 1200px;
    }

    .productive-fig{
        display: flex;
        justify-content: start;
    }

    .container-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;


    }
    .productive-title{
        font-size: 30px;
        max-width: 300px;
    }

    .cards{
        color: #fff;
        display: flex;
        width: 80%;
        justify-content: center;
        margin-top: 110px;
        margin-bottom: 150px;
        
    }
    
    .card{
        display: grid;
        gap: 15px;
        justify-self: center;
        max-width: 300px;
        position: relative;
    }
    
}